<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <app-navbar></app-navbar>
  </button>
  <span id="appName">WORKOUT TRACKER</span>
  <span class="specey"></span>
  <div class="clickyCons">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
      md-direction="right" matTooltip="Rate me!" matTooltipPosition="below">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Share URL" matTooltipPosition="below">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Share on Twitter" matTooltipPosition="below">
      <img src="https://img.icons8.com/material/24/000000/twitter--v1.png" />
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Share on Instagram" matTooltipPosition="below">
      <img src="https://img.icons8.com/material/24/000000/instagram-new--v1.png" />
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Share on Facebook" matTooltipPosition="below">
      <img src="https://img.icons8.com/material/24/000000/facebook--v1.png" />
    </button>
  </div>
</mat-toolbar>
