<mat-list role="list">

  <mat-list-item role="listitem">
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon matPrefix>check_circle</mat-icon><span matBadge="4" matBadgeColor="primary" matBadgeOverlap="false"> Upper Body</span>
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-icon-button  aria-label="Example icon-button with a heart icon">
      <mat-icon matPrefix>check_circle</mat-icon> Lower Body
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon matPrefix>check_circle</mat-icon> Full Body
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon matPrefix>check_circle</mat-icon> LISS/Cardio
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-icon-button  aria-label="Example icon-button with a heart icon">
      <mat-icon matPrefix>check_circle</mat-icon> HITT/Conditioning
    </button>
  </mat-list-item>

  <mat-list-item role="listitem">
    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
      <mat-icon matPrefix>add_circle_outline</mat-icon> Create
    </button>
  </mat-list-item>

</mat-list>
